<<h1>Inspirational & injustices Quotes</h1>
<hr>

<div class="row">
  <div class="col-md-6">
    <div *ngFor='let quote of Quotes;let i = index'>
      <div>
        <h6 id={{i}} appStrikethrough>{{quote.name}}  {{quote.completeDate|date|uppercase}}</h6>
        <button class="btn btn-primary" (click)='addUpVote(i)'>Upvotes {{quote.upVote}}</button>

        <button class="btn btn-danger" (click)='addDownVote(i)'>Downvotes {{quote.downVote}}</button><br><br>
        <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
      </div>

      <div *ngIf='goal.showDescription'>
        <app-quote-detail [quote]='goal' (isComplete)='deleteGoal($event,i)'></app-quote-detail>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <app-goal-form (addQuote)='addNewGoal($event)'></app-quote-form>
  </div>
</div>
<p *ngIf='goals.length > 5'>You have too many Quotes</p>
</div>